<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>adminpack.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>webpack.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupUser</servlet-name>
        <servlet-class>webpack.SignupUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableBooking</servlet-name>
        <servlet-class>bookpack.TableBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>adminpack.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>feedbackpack.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Complain</servlet-name>
        <servlet-class>feedbackpack.Complain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>webpack.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>webpack.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFood</servlet-name>
        <servlet-class>adminpack.AddFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtp</servlet-name>
        <servlet-class>webpack.VerifyOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <servlet-class>adminpack.DeleteBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookingServlet</servlet-name>
        <servlet-class>adminpack.EditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTPServlet</servlet-name>
        <servlet-class>webpack.SendOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>webpack.VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>webpack.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchEmailServlet</servlet-name>
        <servlet-class>webpack.FetchEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>cartpack.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>cartpack.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>cartpack.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationServlet</servlet-name>
        <servlet-class>cartpack.ConfirmationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>cartpack.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>adminpack.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>adminpack.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpVerification</servlet-name>
        <servlet-class>webpack.VerifyOtpVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>webpack.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>webpack.VerifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPVerify</servlet-name>
        <servlet-class>webpack.OTPVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>webpack.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableBookingServlet</servlet-name>
        <servlet-class>bookpack.TableBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupUser</servlet-name>
        <url-pattern>/SignupUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableBooking</servlet-name>
        <url-pattern>/TableBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Complain</servlet-name>
        <url-pattern>/Complain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFood</servlet-name>
        <url-pattern>/AddFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtp</servlet-name>
        <url-pattern>/VerifyOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <url-pattern>/DeleteBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookingServlet</servlet-name>
        <url-pattern>/EditBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTPServlet</servlet-name>
        <url-pattern>/SendOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchEmailServlet</servlet-name>
        <url-pattern>/FetchEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationServlet</servlet-name>
        <url-pattern>/ConfirmationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpVerification</servlet-name>
        <url-pattern>/VerifyOtpVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPVerify</servlet-name>
        <url-pattern>/OTPVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableBookingServlet</servlet-name>
        <url-pattern>/TableBookingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
